@page "/counter"
@rendermode InteractiveServer

@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inject ProtectedLocalStorage ProtectedLocalStore

@if (!_jsReady)
{
    <p>Loading...</p>
}
else
{
    <p>Current count: @count</p>
    <button @onclick="Increment">Increment</button>
}

@code {
    private int count;
    private bool _jsReady;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            // JSInterop đã sẵn sàng
            _jsReady = true;

            var result = await ProtectedLocalStore.GetAsync<int>("count");
            count = result.Success ? result.Value : 0;

            StateHasChanged();
        }
    }

    private async Task Increment()
    {
        count++;
        await ProtectedLocalStore.SetAsync("count", count);
    }
}

