@page "/todo-list"
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@using System.ComponentModel.DataAnnotations
@inject ProtectedLocalStorage ProtectedLocalStore

<h3>Todo App</h3>

<EditForm Model="@currentTask" OnValidSubmit="SaveTask">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-container">
        <div class="form-row">
            <label>Task Name:</label>
            <InputText @bind-Value="currentTask.Name" class="input-field" />
        </div>
        <div class="form-row">
            <label>Deadline:</label>
            <InputDate @bind-Value="currentTask.Deadline"  class="input-field" />
        </div>
        <div class="form-row">
            <label>Completed:</label>
            <InputCheckbox @bind-Value="currentTask.IsCompleted" />
        </div>
        <div class="form-row">
            <button type="submit" class="btn-save">Save Task</button>
        </div>
    </div>
</EditForm>
<hr />
<h4>Task List</h4>
@if (tasks.Count == 0)
{
    <p>No tasks yet.</p>
}
else
{
    <table class="task-table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Deadline</th>
                <th>Completed</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var task in tasks ?? [])
            {
                    <TodoRow @key="task.Id"
                             Item="task"
                             OnEdit="EditTask"
                             OnComplete="MarkComplete"
                             OnDelete="RemoveTask" />
            }
        </tbody>
    </table>
}

@code {
    private TodoItem currentTask = new();
    private List<TodoItem> tasks = new();
    readonly string KeyStorge = "tasks";
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await LoadTasks();
            StateHasChanged();
        }
    }

    private async Task LoadTasks()
    {
        var result = await ProtectedLocalStore.GetAsync<List<TodoItem>>(KeyStorge);
        if (result.Success && result.Value != null)
        {
            tasks = result.Value;
        }
    }

    private async Task SaveTasks()
    {
        await ProtectedLocalStore.SetAsync(KeyStorge, tasks);
    }

    private async Task SaveTask()
    {
        if (currentTask.Id == Guid.Empty)
        {
            currentTask.Id = Guid.NewGuid();
            tasks.Add(currentTask);
        }
        else
        {
           
            var index = tasks.FindIndex(t => t.Id == currentTask.Id);
            if (index >= 0)
                tasks[index] = currentTask;
        }
        await SaveTasks();
        currentTask = new();
    }

    private void EditTask(TodoItem task)
    {
        currentTask = new ()
        {
            Id = task.Id,
            Name = task.Name,
            Deadline = task.Deadline,
            IsCompleted = task.IsCompleted
        };
    }

    private async Task RemoveTask(TodoItem task)
    {
        
        tasks.RemoveAll(t => t.Id == task.Id);
        await SaveTasks();
    }

    private async Task MarkComplete(TodoItem task)
    {
        var index = tasks.FindIndex(t => t.Id == task.Id);
        if (index >= 0)
        {
            tasks[index].IsCompleted = true;
            await SaveTasks();
        }
    }
}


